html {
	background-color: #61B4CF;
}

.table {
    display:table;
    width:100%;
    color:#024E68;
}
.tr {
    display:table-row;
}
.d1 {
    display:table-cell;
    font-size: 54px;
    width:33%;
}
.d2 {
    display:table-cell;
    font-size: 54px;
    text-align:center;
    width:34%;
}
.d3 {
    display:table-cell;
    font-size: 54px;
    text-align:right;
    width:33%;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}