<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<link href="{{ url_for('static', filename='board.css') }}" rel="stylesheet" type="text/css">
		<title>Kanban Web - Board</title>
	</head>
	<body>
		<div class="table">
		    <div class="tr">
		        <div class="d1">KanBan Web</div>
		        <div class="d2"></div>
		        <div class="d3">{{current_user.email}}    <a href="{{ url_for('auth.logout') }}">Log out</a></div>
		    </div>
		</div>
		
		Hello, {{current_user.email}}!

		<div class="table">
		    <div class="tr">
		        <div class="kb1"></div>
		        <div class="kb2">
		        	<form action="add_kanban" method="POST">
			        	<input type="text" id="new_kb" name="new_kanban">
			        	<button class="favorite styled" type="submit" name="kb_type" value="to_do">TO DO</button>
			        	<button class="favorite styled" type="submit" name="kb_type" value="in_progress">IN PROGRESS</button>
			        	<button class="favorite styled" type="submit" name="kb_type" value="done">DONE</button>
		        	<form>
		        </div>
		        <div class="kb3"></div>
		    </div>
		</div>
		<br>
		<div class="table">
		    <div class="tr">
		        <div class="kb1">
		        TO DO

		        {% for todo in todos %}
			    <p>
			    <sup><a href="{{ url_for('views.delete_kanban', id=todo.id|string) }}">X</a></sup>{{ todo.content }}
			    </p>
			    {% endfor %}
		    	</div>

		        <div class="kb2">
		        IN PROGRESS

		        {% for inprog in inprogs %}
			    <p>
			    <sup><a href="{{ url_for('views.delete_kanban', id=inprog.id|string) }}">X</a></sup>{{ inprog.content }}
			    </p>
			    {% endfor %}
		    	</div>

		        <div class="kb3">
		        DONE

		        {% for done in dones %}
			    <p>
			    <sup><a href="{{ url_for('views.delete_kanban', id=done.id|string) }}">X</a></sup>{{ done.content }}
			    </p>
			    {% endfor %}
		    	</div>
		    </div>
		</div>
	</body>
</html>